@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
/* Reset css */


.sidebarr{
    float: left;
    position: relative;
    width: 92px;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #fff;
    padding: 24px;
    transition: all 0.3s;
    /* overflow: scroll; */
    /* border-radius: 30px; */
}

.sidebarr .head{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}
/* .sidebarr .navvv .menuu .titlee{
    transition: all 0.3s ease;
} */


.menuu ul li{
    
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}
.menuu ul li a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s ease ;
}
.menuu ul li > a:hover,
.menuu ul li.active > a{
    color: #000;
    background-color: #f6f6f6;
}.menuu ul li .icon{
    font-size: 20px;
}
.menuu ul li .text{
    flex: 1;
}
.menuu ul li .arrow{
    font-size: 14px;
    transition: all 0.3s ease;
}
.menuu ul li.active .arrow{
    transform: rotate(180deg);
}
.menuu .sub-menuu{
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}
.menuu .sub-menuu li a{
    padding: 10px 8px;
    font-size: 12px;
}

.menuu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}
.navvv{
    /* overflow-y: scroll; */
    flex: 1;
}
.navvv::-webkit-scrollbar{
    display: none;
}

.menuu-btn{
    position:absolute ;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items:center ;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6 ;
    background-color: #fff;
}

.menuu-btn:hover i{
    color: #000;
}

.menuu-btn i{
    transition: all 0.3s;
}
/* activ sidebarr */
.sidebarr.active{
    width: 92px;
}
.sidebarr.active .menuu-btn i{
    transform: rotate(180deg);
}
.sidebarr.active .user-details{
    display: none;
}
.sidebarr.active .menuu .titlee{
    text-align: center;
}
.sidebarr.active .menuu ul li .arrow{
    display: none;
}
.sidebarr.active .menuu > ul > li > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarr.active .menuu > ul > li > a .text{
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.sidebarr.active .menuu > ul > li > a .text::after{
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #000;
    transform: rotate(45deg);
    z-index: -1;
}
.sidebarr.active .menuu > ul > li > a:hover .text{
    left: 50px;
    opacity: 1;
    visibility: visible;
}
.sidebarr.active .menuu .sub-menuu{
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0,0.1 );
}
